h1 {
  color: blue;
  font-size: 36px;
  text-align: center;
}

h2 {
  color: lightgreen;
  font-size: 28px;
  text-decoration: underline;
  text-align: left;
  font-style: italic;
}

p {
  color: #000;
  font-size: 18px;
  font
}